In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("Student_Performance.csv")

In [3]:
df.head()

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,Yes,9,1,91.0
1,4,82,No,4,2,65.0
2,8,51,Yes,7,2,45.0
3,5,52,Yes,5,2,36.0
4,7,75,No,8,5,66.0

In [4]:
df.describe()

,Hours Studied,Previous Scores,Sleep Hours,Sample Question Papers Practiced,Performance Index
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,4.992900,69.445700,6.530600,4.583300,55.224800
std,2.589309,17.343152,1.695863,2.867348,19.212558
min,1.000000,40.000000,4.000000,0.000000,10.000000
25%,3.000000,54.000000,5.000000,2.000000,40.000000
50%,5.000000,69.000000,7.000000,5.000000,55.000000
75%,7.000000,85.000000,8.000000,7.000000,71.000000
max,9.000000,99.000000,9.000000,9.000000,100.000000

In [5]:
df.isnull().sum()

Hours Studied                       0
Previous Scores                     0
Extracurricular Activities          0
Sleep Hours                         0
Sample Question Papers Practiced    0
Performance Index                   0
dtype: int64

In [6]:
df.dtypes

Hours Studied                         int64
Previous Scores                       int64
Extracurricular Activities           object
Sleep Hours                           int64
Sample Question Papers Practiced      int64
Performance Index                   float64
dtype: object

In [7]:
from sklearn.preprocessing import LabelEncoder,StandardScaler

In [8]:
df["Extracurricular Activities"]

0       Yes
1        No
2       Yes
3       Yes
4        No
       ...
9995    Yes
9996    Yes
9997    Yes
9998    Yes
9999     No
Name: Extracurricular Activities, Length: 10000, dtype: object

In [9]:
le=LabelEncoder()
df["Extracurricular Activities"]=le.fit_transform(df["Extracurricular Activities"])

In [10]:
df

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,1,9,1,91.0
1,4,82,0,4,2,65.0
2,8,51,1,7,2,45.0
3,5,52,1,5,2,36.0
4,7,75,0,8,5,66.0
...,...,...,...,...,...,...
9995,1,49,1,4,2,23.0
9996,7,64,1,8,5,58.0
9997,6,83,1,8,5,74.0
9998,9,97,1,7,0,95.0
9999,7,74,0,8,1,64.0

In [11]:
x=df[["Hours Studied","Previous Scores","Extracurricular Activities","Sleep Hours","Sample Question Papers Practiced"]]

In [12]:
y=df["Performance Index"]

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.2)

In [15]:
x_train

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced
9874,6,49,0,5,5
7974,3,74,1,8,4
434,4,45,1,7,0
7007,5,91,1,9,9
8176,2,44,0,6,3
...,...,...,...,...,...
8217,1,85,1,8,5
8086,6,63,1,9,6
1731,7,56,1,7,5
6306,1,54,0,8,0
6330,6,42,0,9,5

In [16]:
y_train

9874    37.0
7974    55.0
434     26.0
7007    81.0
8176    17.0
        ...
8217    62.0
8086    55.0
1731    46.0
6306    31.0
6330    29.0
Name: Performance Index, Length: 8000, dtype: float64

In [17]:
scaler=StandardScaler()
x_train_scaled=scaler.fit_transform(x_train)
x_test_scaled=scaler.fit_transform(x_test)

In [18]:
from sklearn.linear_model import LinearRegression
import pickle
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [19]:
model=LinearRegression()
model.fit(x_train_scaled,y_train)

LinearRegression()

In [20]:
y_pred=model.predict(x_test_scaled)

In [21]:
mean_squared_error(y_test,y_pred)

4.348988292200432

In [22]:
r2_score(y_test,y_pred)

0.9882632499926562

In [24]:
import pickle
with open("student_lr_final.pkl","wb") as file:
    pickle.dump((model,scaler,le),file)